.back-link {
  color: rgb(0, 113, 133);
  transition: color 0.15s;
}

.back-link:hover {
  color: rgb(255, 164, 28);
}

.item-description {
  font-size: 22px;
  font-weight: bold;
}

.item-price {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.item-delivery-status {

}

.add-to-cart-btn {
  background-color: rgb(255, 216, 20);
}

.add-to-cart-btn:hover, .buy-btn:hover {
  opacity: 0.8;
}

.add-to-cart-btn:active, .buy-btn:active {
  opacity: 0.6;
}

.buy-btn {
  background-color: rgb(255, 164, 28);
}

.add-to-cart-btn, .buy-btn {
  border: none;
  font-size: 16px;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.15s;
}